<!DOCTYPE html>
<html>
<head>
    <title>Conversor PDF → TXT</title>
</head>
<body>

    <h2>Enviar PDFs</h2>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="files" multiple required>
        <button type="submit">Converter</button>
    </form>

    {% if arquivos %}
        <h3>Arquivos gerados:</h3>
        <ul>
            {% for arq in arquivos %}
                <li>
                    <a href="/download/{{ arq }}">{{ arq }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>